#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/images/vCareerHero.jpeg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
  
}

a.email-link {
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}

a.email-link:hover {
    color: #FF4500;
}